.main {
  height: 22pt;
  background-color: ccPrimaryColor;
  background-image: literal("-webkit-linear-gradient(top, ") ccLightPrimaryColor literal(", ") ccPrimaryColor literal(")");
  background-image: literal("-moz-linear-gradient(to bottom, ") ccLightPrimaryColor literal(", ") ccPrimaryColor literal(")");
}

.title {
  font-size: 15pt;
  font-family: ccSansSerif;
  padding-left: 4pt;
  color: ccLightText;
  float: left;
}
