.root {
  position: relative;
  width: 300px;
  height: 200px;
  top: 30px;
  left: 30px;
}

.display {
  width: 300px;
  height: 200px;
  border: 1px dashed silver;
  font-family: monospace;
  font-size: 10pt;
}

.cursor {
  position: absolute;
  background: black;
  height: 1em;
  width: 1px;
  margin-top: 1px;
  margin-left: 1px;
}

.overlay {
  position: absolute;
  display: block;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  resizeable: false;
}
