.root {
  background: #EEEEEE;
}

.display {
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 10pt;
  position: absolute;
}

.source {
  background: white;
}

.cursor {
  position: absolute;
  background: black;
  height: 1em;
  width: 1px;
  margin-top: 3px;
  margin-left: 3px;
}

.overlay {
  opacity: 0;
  z-index: 2;
  resizeable: false;
}
