.line {
  display: block;
  height: 1.1em;
}

.contents {
  white-space: pre;
}

@external .word, .number, .error, .identifier, .operation, .space, .comment;

span.word {
  font-weight: bold;
}

span.number {
  font-style: italic;
}

span.identifier {
  color: #444444;
}

span.operation {
  font-style: italic;
}

span.error {
  color: red;
}

span.space {
  border: 1px solid #F7F7F7;
}

span.comment {
  font-style: italic;
  color: silver;
}