.root {
  position: absolute;
  width: 300px;
  top: 5px;
  left: 5px;
  bottom: 5px;
  background: #EEEEEE;
}

.display {
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  font-family: monospace;
  font-size: 10pt;
  position: absolute;
}

.source {
  background: white;
}

.cursor {
  position: absolute;
  background: black;
  height: 1em;
  width: 1px;
  margin-top: 3px;
  margin-left: 3px;
}

.overlay {
  opacity: 0;
  z-index: 2;
  resizeable: false;
}
